test.ipynb

/iac/.*
*/terraform.tfstate
*/terraform.tfstate.backup
*.tfvars
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfplan
*.tfplan.*
*.tfvars.json
*.tfvars.local 

__pycache__
*.pyc

.DS*
*.log
*.csv
*.parquet
*.json
*.txt
*.xlsx
*.xls
*.db
*.sqlite
*.zip
